@page
@model EFReverse.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.CatId" />
            <div class="form-group">
                <label asp-for="Category.CatNamear" class="control-label"></label>
                <input asp-for="Category.CatNamear" class="form-control" />
                <span asp-validation-for="Category.CatNamear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CatNameen" class="control-label"></label>
                <input asp-for="Category.CatNameen" class="form-control" />
                <span asp-validation-for="Category.CatNameen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.TypeId" class="control-label"></label>
                <input asp-for="Category.TypeId" class="form-control" />
                <span asp-validation-for="Category.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Vissible" class="control-label"></label>
                <input asp-for="Category.Vissible" class="form-control" />
                <span asp-validation-for="Category.Vissible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
