@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to my contest</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a class="btn btn-sm btn-outline-primary" href="Categories/Index">Categories</a>
        <a class="btn btn-sm btn-outline-primary" href="ProductTypes/Index">Product Types</a>
        <a class="btn btn-sm btn-outline-primary" href="OnlineProducts/Index">Online Product</a>
        <a class="btn btn-sm btn-outline-primary" href="Products/Index">Product</a>
        <br />
        <a class="btn btn-lg btn-outline-success mt-4" href="Pro/Index">Query</a>

    </div>
