@page
@model EFReverse.Pages.Pro.IndexModel
@{
    ViewData["Title"] = "Products Query";
}

@*<h1>Products Query</h1>*@
<div id="app">
    @*<table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Name<span class="fa fa-play"></span> </th>
                <th>pos Id</th>
                <th>Qty</th>
                <th>Fresh Price</th>
                <th>Type</th>
                <th>Location</th>
            </tr>
        </thead>
        <tr v-for="(product,index) in products">
            <td>{{index+1}}</td>
            <td>{{product.prodNameEn}}</td>
            <td>{{product.posId}}</td>
            <td>{{product.qty}}</td>
            <td>{{product.freshPrice}}</td>
            <td>{{product.typeName}}</td>
            <td>{{product.loacation}}</td>

        </tr>
    </table>*@


    <div class="">
        <div class="container">

            <div class="text-center mb-5">
                <h1 class="display-4" style="line-height:28pt"> Items To Order </h1>
                <hr />
            </div>

            @*----------product items--------*@
            <div class="row" >
                <div class="col-sm-6 col-md-4 col-lg-3 my-3" v-for="(product,index) in products">
                    <div class="card mx-0">

                        <img v-bind:src="'data:image/jpeg;base64,'+product.photo" class="card-img-top" />
                        <div class="card-body">
                            @*<h5 class="card-title">{{product.prodNameEn}}</h5>
                            <h5 class="card-title">{{product.typeName}}</h5>
                            <p class="card-text">Fresh Price: {{product.freshPrice}} RO</p>*@
                            <div class="row">
                                <div class="col-7"><h6 class="card-title font-weight-bold">{{product.prodNameEn}}</h6></div>
                                <div class="col-5 d-flex justify-content-end"><small class="text-muted"><span class="fa fa-map-marker-alt"></span> {{product.loacation}}</small></div>
                            </div>
                            <div class="row">
                                <div class="col-10"> Fresh Price: {{product.freshPrice}} RO</div>
                                <div class="col-2 d-flex justify-content-end"><a class="btn btn-primary text-white fa fa-cart-arrow-down"></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>

            <br>
        </div>
    </div>



</div>







@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    @*<script src="~/lib/vue/vue.min.js"></script>*@
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                products: []
            },
            created: function () {
                this.getProducts();
            },
            methods: {
                getProducts: function () {
                    var vm = this;
                    $.ajax({ url: "/api/pro", methpd: "GET" })
                        .done(function (data) {

                            vm.products = data;


                        }).fail(function () { });
                }
            }
        });
    </script>



}