@page
@model EFReverse.Pages.Pro.IndexModel
@{
    ViewData["Title"] = "Products Query";
}

@*<h1>Products Query</h1>*@
    <div id="app">


        <div class="container">
            <h2>Items To Order</h2>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Fishes">Fishes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Drinks">Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#etc">ETC...</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div id="Fishes" class="container tab-pane active">
                    <br>
                    <h3>Fishes</h3>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3 my-3" v-for="(product,index) in products" v-if="product.typeName === 'Fish'">
                            <div class="card mx-0">

                                <img v-bind:src="'data:image/jpeg;base64,'+product.photo" class="card-img-top" />
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7"><h6 class="card-title font-weight-bold">{{product.prodNameEn}}</h6></div>
                                        <div class="col-5 d-flex justify-content-end"><small class="text-muted"><span class="fa fa-map-marker-alt"></span> {{product.loacation}}</small></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">Fresh Price: {{product.freshPrice}} RO</div>
                                        <div class="col-2 d-flex justify-content-end"><a class="fa fa-cart-arrow-down btn btn-outline-primary text-primary "></a></div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10">Meal Price: {{product.mealPrice}} RO</div>
                                        <div class="col-2 d-flex justify-content-end"><a class="fa fa-cart-arrow-down btn btn-outline-success text-success  "></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="Drinks" class="container tab-pane fade">
                    <br>
                    <h3>Drinks</h3>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3 my-3" v-for="(product,index) in products" v-if="product.typeName === 'Other'">
                            <div class="card mx-0">

                                <img v-bind:src="'data:image/jpeg;base64,'+product.photo" class="card-img-top" />
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7"><h6 class="card-title font-weight-bold">{{product.prodNameEn}}</h6></div>
                                        <div class="col-5 d-flex justify-content-end"><small class="text-muted"><span class="fa fa-map-marker-alt"></span> {{product.loacation}}</small></div>
                                    </div>
                                    <div class="row">
                                        @*<div class="col-10" >
                                <p>Fresh Price: {{product.freshPrice}} RO</p>
                            </div>*@
                                        <div class="col-10">Fresh Price: {{product.freshPrice}} RO</div>
                                        <div class="col-2 d-flex justify-content-end"><a class="btn btn-outline-primary text-primary fa fa-cart-arrow-down"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="etc" class="container tab-pane fade">
                    <br>
                    <h3>ETC...</h3>
                    <p>Anything else going to show up here</p>
                </div>
            </div>
        </div>


        @*<div class="">
            <div class="container">

                <div class="text-center mb-5">
                    <h1 class="display-4" style="line-height:28pt"> Items To Order </h1>
                    <hr />
                </div>

                ----------product items--------
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 my-3" v-for="(product,index) in products">
                        <div class="card mx-0">

                            <img v-bind:src="'data:image/jpeg;base64,'+product.photo" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">{{product.prodNameEn}}</h5>
                                    <h5 class="card-title">{{product.typeName}}</h5>
                                    <p class="card-text">Fresh Price: {{product.freshPrice}} RO</p>
                                <div class="row">
                                    <div class="col-7"><h6 class="card-title font-weight-bold">{{product.prodNameEn}}</h6></div>
                                    <div class="col-5 d-flex justify-content-end"><small class="text-muted"><span class="fa fa-map-marker-alt"></span> {{product.loacation}}</small></div>
                                </div>
                                <div class="row">
                                    <div class="col-10" v-if="product.typeName === 'Fish'">
                                        <p>Fresh Price: {{product.freshPrice}} RO</p>
                                    </div>
                                    <div class="col-10" v-else="product.typeName === 'Fish'"> Price: {{product.freshPrice}} RO</div>
                                    <div class="col-2 d-flex justify-content-end"><a class="btn btn-primary text-white fa fa-cart-arrow-down"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <br>
            </div>
        </div>*@



    </div>







@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    @*<script src="~/lib/vue/vue.min.js"></script>*@
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                products: []
            },
            created: function () {
                this.getProducts();
            },
            methods: {
                getProducts: function () {
                    var vm = this;
                    $.ajax({ url: "/api/pro", methpd: "GET" })
                        .done(function (data) {
                            vm.products = data;
                        }).fail(function () { });
                }
            }
        });
    </script>



}