@page
@model EFReverse.Pages.Pro.IndexModel
@{
    ViewData["Title"] = "Products Query";
}

<h1>Products Query</h1>
<div id="app">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>pos Id</th>
                <th>Qty</th>
                <th>Fresh Price</th>
                <th>Type</th>
                <th>Location</th>
            </tr>
        </thead>
        <tr v-for="(product,index) in products">
            <td>{{index+1}}</td>
            <td>{{product.prodNameEn}}</td>
            <td>{{product.posId}}</td>
            <td>{{product.qty}}</td>
            <td>{{product.freshPrice}}</td>
            <td>{{product.typeName}}</td>
            <td>{{product.loacation}}</td>

        </tr>
    </table>
</div>







@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    @*<script src="~/lib/vue/vue.min.js"></script>*@
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                products: []
            },
            created: function () {
                this.getProducts();
            },
            methods: {
                getProducts: function () {
                    var vm = this;
                    $.ajax({ url: "/api/pro", methpd: "GET" })
                        .done(function (data) {

                            vm.products = data;


                        }).fail(function () { });
                }
            }
        });
    </script>



}